html {
    height: 100%;
}

body {
    margin: 0px;
}

.body {
    background: #d9d9e0;
    width: 100vw;
    height: 100vh;
}

.body-dark {
    background: #111318;
    width: 100vw;
    height: 100vh;
}

/* Text */

.text-title {
    font-size: 26px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    place-items: start center;
    margin-left: 20px;
}

.text-title-dark {
    font-size: 26px;
    color: #dae2f9;
    font-family: 'Roboto', sans-serif;
    place-items: start center;
    margin-left: 20px;
}
/* Buttons */

.button {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
}

.button:hover,
.button.active {
  border: 2px solid #d6e3ff;
  background: #d6e3ff;
  color: #284777;
}

.button-dark {
  background: transparent;
  border: 2px solid #dae2f9;
  color: #dae2f9;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
}

.button-dark:hover,
.button-dark.active {
  border: 2px solid #284777;
  background: #284777;
  color: #d6e3ff;
}


/* Nav bar*/
.nav {
  display: flex;
  gap: 40px;
  background-color: #565f71;
}

.nav-dark {
  display: flex;
  gap: 40px;
  background-color: #3e4759;
}

/* theme switcher */
.theme-switch {
  position: relative;
  display: flex;
  justify-content: center;
  direction: rtl;
  padding: 16px;
  padding-right: 20px;
}

#theme-checkbox {
  display: none;
}

#theme-checkbox + label {
  font-size: 2rem;
  height: 1.2em;
  width: 3em;
  border-radius: 0.25em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  position: relative;
}

#theme-checkbox:checked + label {
  background-color:  #2e3036;
}

#theme-checkbox + label:active {
  transform: scale(0.85);
  transition: transform 0.2s;
}

#theme-checkbox + label div {
  width: 0.96em;
  height: 0.96em;
  border-radius: inherit;
  position: absolute;
  top: 0.12em;
  left: 0.12em;
  z-index: 10;
  transition: 0.5s cubic-bezier(1, 0.33, 0.11, 1.34);
  background-color: #415f91;
}

#theme-checkbox:checked + label div {
  left: 1.76em;
  background-color: #aac7ff;
}

#theme-checkbox + label span {
  display: flex;
}

#theme-checkbox + label svg {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  padding: 0.18em;
  box-sizing: border-box;
}

#theme-checkbox + label span:first-of-type {
  color: #415f91;
}

#theme-checkbox + label span:last-of-type {
  color: #aac7ff;
}

/*other*/

.spacer {
      flex: 1;
}

